.collapseContainer{
    display : flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px 70px;
}

#main-About{
    margin: 0;
}

@media (max-width:480px) {
    .collapseContainer{
        margin: 20px 0;
    }
}