@import '../../_variables.scss';

.aviscontainer {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .aviscontainer {
        gap: 0px;
        img {
            height: 13px;
            margin: 3px;
        }
    }
}
