.tags{
    display: flex;
    justify-content: left;
    gap : 10px;
    list-style-type: none;
    padding: 0;
    li{
        width: fit-content;
        color:#FFFFFF;
        background-color:#FF6060;
        border-radius: 20px;
        padding: 3px 20px;


        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 19.96px;
        
    }
}