.Banner {
    position: relative;
    /* Utile pour positionner d'autres éléments si nécessaire */
    width: 100%;
    /* La largeur du conteneur */
    height: 200px;
    /* Ajuste la hauteur en fonction de tes besoins */
    overflow: hidden;
    /* Cache la partie de l'image qui déborde */
    border-radius: 25px;

}

.Banner img {
    /* mix-blend-mode : darken; */
    /* opacity: 60%; */
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image couvre tout l'espace, tout en étant coupée si nécessaire */
    object-position: center; /* Centre l'image dans le conteneur */
}

.Banner::before {
    content: ''; /* Crée un pseudo-élément */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent sombre (ajuste l'opacité selon tes préférences) */
    z-index: 1; /* Assure que l'overlay est au-dessus de l'image */
}

.Banner p {
    z-index: 1;
    position: absolute;
    /* Positionne le texte au-dessus de l'image */
    top: 50%;
    /* Positionne le texte à 50% de la hauteur du conteneur */
    left: 50%;
    /* Positionne le texte à 50% de la largeur du conteneur */
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
    line-height: 68.45px;
    text-align: left;
    text-underline-position: 'from-font';
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}