.header {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header a {
    /* text-decoration: none;   */
    /* // Enlève le soulignement par défaut */
    color: inherit;
    /* // Utilise la couleur du parent ou du texte normal */
  }
  
  .header li {
    list-style: none;
    /* // Enlève les puces ou les numéros */
    margin: 0;
    /* // Enlève la marge par défaut */
    padding: 0;
    /* // Enlève le padding par défaut */
  
  
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: 'from-font';
    text-decoration-skip-ink: none;
  
  }
  .header nav{
    /* position: fixed; */
    right: 0;
  }
  .header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  
  #logoHeader {
    display: flex;
    justify-content: center;  /* Aligne les images horizontalement */
    align-items: flex-end;    /* Aligne les images verticalement en bas */
    margin-bottom: 1em;
    gap: 0.3em;
  }
 
.header li{
  text-decoration: none;
}
.active-link{
  text-decoration: underline;
}
.inactive-link{
  text-decoration: none;
}