@import '../../_variables.scss';

.logementsList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  background-color: $background-color;
  border-radius: 25px;
}

@media(max-width: 768px) {
  .logementsList {
    background-color: transparent;

    flex-direction: column;
  }
}
