.logementCardContainer {
    width: calc(100% / 3);
    padding: 20px;
    a {
      text-decoration: none;
    }
    .logementCard {
      border-radius: 10px;
      height: 340px;
      width: 100%;
      background-position: center;
      background-size: cover;
      overflow: hidden;
  
      .logementCardShaddow {
        background: linear-gradient(
          transparent,
          transparent,
          transparent,
          rgb(0, 0, 0)
        );
        display: flex;
        align-items: flex-end;
        padding: 20px;
        height: 100%;
        width: 100%;
      }
    }
    h2 {
      color: white;
      font-size: 18px;
      font-weight: normal;
      width: 40%;
      line-height: normal;
    }
  }
  