.banner {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 25px;
    margin: 20px 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    p {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat';
        font-size: 5vw;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        color: #FFFFFF;
        width: 90%;
        word-wrap: break-word;
    }
}

.bannerHome::before{
    background-color: rgba(0, 0, 0, 0.6);
}

.bannerAbout::before{
    background-color: rgba(0, 0, 0, 0.4);    
}