@import '../variables.scss';

.collapse-container {
  border-radius: 5px;
  background-color: $primary-color;
}

.collapse-title {
  padding: 10px;
  font-weight: $font-wheight-bold;
  font-size: 18px;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  text-align: left;
  color: $text-color-primary;
}

.collapse-icon {
  width: 20px;
  height: auto;
  transition: transform 0.3s;
}

.collapse-icon.open {
  transform: rotate(180deg);
}
//////////////
.collapse-content {
  padding: 10px;
  font-weight: $font-wheight-thin;
  font-size: 18px;
  line-height: 25.67px;
  background-color: $background-color;
  overflow: hidden;
  max-height: 0; // Initialement, le contenu est masqué
  height: auto; // Pour permettre une hauteur dynamique
  transition: max-height 0.3s ease-out; // Transition pour dérouler l'élément
}

.collapse-content.open {
  max-height: 9999px; // Valeur suffisamment grande pour contenir le contenu
}

///////////////

.collapseLogement {
  width: 50%;
}

.collapseAbout {
  width: 100%;
}

@media (max-width: 768px) {
  .collapse-container {
    width: 100%;

    .collapse-title {
      font-size: 13px;
      line-height: 18.54px;
    }

    .collapse-icon {
      width: 14px;
    }

    .collapse-content {
      font-size: 12px;
    }
  }
}
