#main-Error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h2{
    color: #FF6060;
    margin: 30px 0;
}

h1{
font-family: 'Montserrat';
font-weight: 700;
font-size: 200px;


text-align: center;
}

h2{
font-family: 'Montserrat';
font-weight: 500;
font-size: 28px;
line-height: 51.34px;
text-align: center;

}
a{
    margin: 30px 0;

}
Link{
font-family: 'Montserrat';
font-weight: 500;
font-size: 18px;
line-height: 25.67px;

text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: Auto;
text-decoration-thickness: Auto;
}

#main-Error404 a:visited{
    color: #000000;
}