*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', 'Regular', sans-serif;
}


main{
  margin:  0 100px;
}

@media (max-width: 480px) {
  main{
       margin: 0px 20px;
       padding: 0;
       width: 100%;
  }
}