.Banner {
    position: relative;
    /* Utile pour positionner d'autres éléments si nécessaire */
    width: 100%;
    /* La largeur du conteneur */
    height: 200px;
    /* Ajuste la hauteur en fonction de tes besoins */
    overflow: hidden;
    /* Cache la partie de l'image qui déborde */
    border-radius: 25px;

}

.Banner img {
    /* mix-blend-mode : darken; */
    /* opacity: 60%; */
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image couvre tout l'espace, tout en étant coupée si nécessaire */
    object-position: center; /* Centre l'image dans le conteneur */
}

.Banner::before {
    content: ''; /* Crée un pseudo-élément */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent sombre (ajuste l'opacité selon tes préférences) */
    z-index: 1; /* Assure que l'overlay est au-dessus de l'image */
}

.Banner p {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-size: 5vw;  /* Taille de police responsive (5% de la largeur de la fenêtre) */
    font-weight: 700;
    line-height: 1.2;  /* Ajuste la hauteur de ligne pour que le texte reste lisible */
    text-align: center;
    color: #FFFFFF;
    width: 90%;  /* La largeur du texte est limitée à 90% de l'élément parent */
    word-wrap: break-word;  /* Permet de revenir à la ligne si nécessaire */
}